
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

###> IDES ###
/.idea/
###< IDES ###

###> composer ###
composer.phar
/vendor/
/composer.lock
###< composer ###

###> Folders ###
/apps/adist/backend/var/
/docs/cache/
###< Folders ###

###> Files ###
/.phpunit.result.cache
/.env.local
/.env.test
.env.local
.env.test
###< Files ###

###> nodejs ###
/package-lock.json
/node_modules/
/**/*/package-lock.json
/**/*/node_modules/
###< nodejs ###
